@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-color:#014d4e;
    --secondary-color:#ff9408;
    --tertiary-color:#017374;
    --tertiary-color-m:#01727498;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

a{
    font-size: 1.6rem;
}

@layer components {
    .div-1 {
        @apply bg-pink-400
    }
    .div-2 {
        @apply bg-green-400
    }

    .nav-bar-hover-before{
        @apply  before:content-[''] before:absolute before:left-0 before:top-0 before:bg-white before:h-[2px] before:w-full
    }
    .nav-bar-hover-after{
        @apply  after:content-[''] after:absolute after:bg-white  after:w-full after:h-[2px]  after:left-0  after:bottom-0
    }

    .transition-links{
        @apply transition-all duration-300 ease-in-out hover:text-blue-500 hover:underline
    }
    .service-after{
        @apply after:absolute  after:w-full after:h-full after:top-0 after:left-0 after:bg-white
    }


}

.z-minus {
    z-index: -1;
}

.service{
    position: relative;
    z-index: 1;
}

.service::after{
    transition: transform 0.4s cubic-bezier(1,0,0,1);
    z-index: -1;
    transform: scaleX(0);
}

.service:hover::after{
    transform: scaleX(1);
}


.skills__coding--progress,.skills__design--progress{
    position: relative;
    display: block;
    padding: 0.2rem;
    border-radius: 6;
    background-color: #001F3F;
    /*opacity: 0.5;*/
}

.skills__coding--progress span,.skills__design--progress span{
    position: relative;
    display: inline-block;
    /*padding: 0.5rem;*/
    /*border-radius: 6rem;*/
    background-color: #D3E671;
    height: 10px;

}


.skills__design--progress__1{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}

.skills__design--progress__2{
    animation: design-2 4s infinite cubic-bezier(1,0,0,1);
}
.skills__design--progress__3{
    animation: design-3 4s infinite cubic-bezier(1,0,0,1);
}

.skills__design--progress__4{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}

.skills__design--progress__5{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}
.skills__design--progress__6{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}




.skills__coding--progress__1{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}

.skills__coding--progress__2{
    animation: design-2 4s infinite cubic-bezier(1,0,0,1);
}
.skills__coding--progress__3{
    animation: design-3 4s infinite cubic-bezier(1,0,0,1);
}

.skills__coding--progress__4{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}

.skills__coding--progress__5{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}
.skills__coding--progress__6{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}

@keyframes design-1 {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes design-2 {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
@keyframes design-3 {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes design-4 {
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}